
{% extends 'base.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block body %}
  
  {% if usuarios %}

  {% if app.session.get('user_authenticated') %}
    <h2>Muiembros más afines a ti:</h2>
      <div class='usuariosaf'>
      {% for afinidad in afinidades %}
    
          <div class='usuario'>
            <div class='user_img'>
              <div><a href="{{ path('app_usuarios_ver', {'id': afinidad.id})}}"><img src='../../image/{{afinidad.foto}}'></a></div>
              <div class='texto_user'>{{afinidad.nick}}</div>
            </div>
            <div class='u_online_year'>
              <div class='user_online'>
                {% if afinidad.online %}
                  <div><img src='../../image/pverde.png'>Online</div>
                {% endif %}
              </div>
              <div class='user_year'>
                
                {% set today = 'now'|date('Y-m-d') %}
                {% set birthdate = afinidad.edad|date('Y-m-d') %}
                {% set age = (today|date('Y') - birthdate|date('Y'))|trim('0', 'left') %}
                <div>{{ age }}</div>
              </div>
            </div>
            
          </div>
      {% endfor %}
      </div>
  
  {% endif %}
    <h2>Lista de Usuarios:</h2>
    <div class='usuarios'>
    {% for usuario in usuarios %}
      <p>
      <div class='usuario'>

        <div class='user_img'>
          <div><a href="/usuarios/ver/{{ usuario.id }}"><img src='../../image/{{usuario.foto}}'></a></div>
          <div class='texto_user'>{{usuario.nick}}</div>
        </div>
        <div class='u_online_year'>
          <div class='user_online'>
            {% if usuario.online %}
              <div><img src='../../image/pverde.png'>Online</div>
            {% endif %}
          </div>
          <div class='user_year'>
            {% set today = 'now'|date('Y-m-d') %}
            {% set birthdate = usuario.edad|date('Y-m-d') %}
            {% set age = (today|date('Y') - birthdate|date('Y'))|trim('0', 'left') %}
            <div>{{ age }}</div>
          </div>
        </div>
        
      </div>
      </p>  
    {% endfor %}

  {% else %}
  <p>No se encontraron resultados.</p>
  {% endif %}

 </div>
{% endblock %}









