
{% extends 'base.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block body %}
  
  {% if usuarios %}

  {% if app.session.get('user_authenticated') %}
    <h2>Miembros más afines a ti:</h2>
      <div class='usuariosaf'>
      {% for afinidad in afinidades %}
    
          <div class='usuario'>
            <div class='user_img'>
              <div><a href="{{ path('app_usuarios_ver', {'id': afinidad.id})}}"><img src='../../image/{{afinidad.foto}}'></a></div>
              <div class='texto_user'>{{afinidad.nick}}</div>
            </div>
            <div class='u_online_year'>
              <div class='user_online'>
                {% if afinidad.online %}
                  <div><img src='../../image/pverde.png'>Online</div>
                {% endif %}
              </div>
              <div class='user_year'>
                
                {% set today = 'now'|date('Y-m-d') %}
                {% set birthdate = afinidad.edad|date('Y-m-d') %}
                {% set age = (today|date('Y') - birthdate|date('Y'))|trim('0', 'left') %}
                <div>{{ age }}</div>
              </div>
            </div>
            
          </div>
      {% endfor %}
      </div>
  
  {% endif %}
  <div class='filtro'>
    <div>
          <span>Edad:</span>
          <input type="text" id="edad-desde" placeholder="Desde" style="padding: 5px; border: 1px solid black; border-radius: 6px; font-size: 14px; width: 80px;">
          <input type="text" id="edad-hasta" placeholder="Hasta" style="padding: 5px; border: 1px solid black; border-radius: 6px; font-size: 14px; width: 80px;">
    </div>
    <div class='fgenero'>
    <input type="radio" id="hombre" name="genero" value="h">
      <label for="hombre">Hombre</label>
      <input type="radio" id="mujer" name="genero" value="m">
      <label for="mujer">Mujer</label>
      <input type="radio" id="todos" name="genero" value="">
      <label for="todos">Ambos</label>
    </div>
    <div>
      <button id="btn-buscar" style="background-color: gray; margin-left: 25px; color: white; padding: 6px 11px; border: none; border-radius: 6px; font-size: 16px; cursor: pointer; transition: background-color 0.3s, color 0.3s;">Buscar</button>
    </div>
    </div>
    <div class='usuarios'>
    {% for usuario in usuarios %}
      <p>
      <div class='usuario'>

        <div class='user_img'>
          <div><a href="/usuarios/ver/{{ usuario.id }}"><img src='../../image/{{usuario.foto}}'></a></div>
          <div class='texto_user'>{{usuario.nick}}</div>
        </div>
        <div class='u_online_year'>
          <div class='user_online'>
            {% if usuario.online %}
              <div><img src='../../image/pverde.png'>Online</div>
            {% endif %}
          </div>
          <div class='user_year'>
            {% set today = 'now'|date('Y-m-d') %}
            {% set birthdate = usuario.edad|date('Y-m-d') %}
            {% set age = (today|date('Y') - birthdate|date('Y'))|trim('0', 'left') %}
            <div>{{ age }}</div>
          </div>
        </div>
        
      </div>
      </p>  
    {% endfor %}

  {% else %}
  <p>No se encontraron resultados.</p>
  {% endif %}

 </div>


  <script>

    document.getElementById('btn-buscar').addEventListener('click', function() {
        var edadDesde = document.getElementById('edad-desde').value;
        var edadHasta = document.getElementById('edad-hasta').value;
        var genero = document.querySelector('input[name="genero"]:checked');
      
      edadDesde = edadDesde.trim() === "" ? null : edadDesde;
      edadHasta = edadHasta.trim() === "" ? null : edadHasta;
      genero = genero ? genero.value : null;

        $.ajax({
      url: '{{ path('buscar_usuarios') }}',
      method: 'GET',
      data: { edesde: edadDesde, ehasta: edadHasta, genero: genero },
      success: function(response) {
          var html = ''; 
          console.log(response);

          $.each(response.usuarios, function(index, usuario) {
              html += '<div class="usuario">';
              html += '<div class="user_img">';
              html += '<div><a href="/usuarios/ver/' + usuario.id + '"><img src="../../image/' + usuario.foto + '"></a></div>';
              html += '<div class="texto_user">' + usuario.nick + '</div>';
              html += '</div>';
              html += '<div class="u_online_year">';
              html += '<div class="user_online">';
              if (usuario.online) {
                  html += '<div><img src="../../image/pverde.png">Online</div>';
              }
              html += '</div>';
              html += '<div class="user_year">';
            
              html += '<div>' + usuario.edad + '</div>';
              html += '</div>';
              html += '</div>';
              html += '</div>';
          });

          $('.usuarios').html(html);
      },
      error: function() {
          console.error('Error al realizar la solicitud');
      }
  });
      



    });

</script>

{% endblock %}









