{% extends 'base.html.twig' %}

{% block title %}Ver Anuncio{% endblock %}

{% block body %}

    {% for usuario in results %}
        <p>
        <div class="perfilg">
            <div class="cuadro_perfil">
                <div class="perfil_iz">
                    <div><img src='../../image/{{usuario.foto}}'></div>
                </div>
                <div class="dropdown">
                    <span class='icopuntos' id="dropdownIcon"><img src='../../image/ico_puntos.png' style='width: 20px; height: 20px;'></span>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="{{ path('bloquear-usuario', {'id': usuario.id}) }}">Bloquear</a>
                    </div>
                </div>

                <div class="perfil_der">
                
                    <h1>{{usuario.nick}}</h1>
                    {% set today = 'now'|date('Y-m-d') %}
                    {% set birthdate = usuario.edad|date('Y-m-d') %}
                    {% set age = (today|date('Y') - birthdate|date('Y'))|trim('0', 'left') %}
                    <div class='div_age'> 
                        <span class='ico_age'><img src='../../image/age.png'></span> 
                        <span class='age'>{{ age }}</span>
                    </div>
                    {% if usuario.genero == 'H'%}
                        <div class='div_gen'><span class='ico_age'><img src='../../image/icon_h.png'></span> <span class='age'>Hombre</span></div>
                    {% else %}
                        <div class='div_gen'><span class='ico_age'><img src='../../image/icon_m.png'></span><span class='age'>Mujer</span></div>
                    {% endif %}
                    
                    <div>
                     <span class='ico_age'><img src='../../image/localidad.png'></span> 
                    <span class='age'>{{usuario.ciudad}}</span>
                    </div>
                    <div class='user_online_ver'>
                        {% if usuario.online %}
                            <div><img src='../../image/pverde.png'> Online</div>
                        {% else %}
                            {% if ultima_v != null %}
                                <div class='bg-dark text-white text-center rounded p-1 custom-width'>{{ ultima_v }}</div>
                            {% endif %}
                        {% endif %}
                    </div>
                    
                    {% if app.session.get('user_authenticated') %}
                        <div class='btn_msg'><a href="{{ path('app_mostrar_mensaje', {'id': usuario.id}) }}">Enviar Mensaje</a></div>
                    {% endif %}
       
                </div>
            </div>
            <div class='perfil_desc'>
                <div class='h3'>Descripción:</div>
                <div class='w-75'>{{usuario.descripcion}}</div>
                <div>
                    <div class='h3 mt-3'>Intereses:</div>
                    <div class='perfil_af'>
                        {% for aficion in aficiones %}
                            <div>{{aficion.nombre}}</div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <div class='h3 pt-3'>Galeria de Fotos:</div>
                    {% if galeriaimgs %}
                    <div class="gallery">
                        {% for imagen in galeriaimgs %}
                            <div class="image-container"><img src="../../image/{{imagen.nombre}}" class='carousel-image'></div>
                                        
                        {% endfor %}
                    </div>
                    {% else %}
                    <div>No se han publicado imágenes</div>
                    {% endif %}

                </div>
              
            </div>
            <div id="fullscreenViewer" class="fullscreen-viewer" onclick="closeFullscreen()">
                        <span class="close-btn" onclick="closeFullscreen()">&times;</span>
                        <img id="fullscreenImage" src="" alt="Imagen ampliada">
            </div>
        </div>
    {% endfor %}
        </p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        document.addEventListener('DOMContentLoaded', () => {
            const dropdownIcon = document.getElementById('dropdownIcon');
            const dropdownContent = document.getElementById('myDropdown');

            dropdownIcon.addEventListener('mouseover', () => {
                dropdownContent.classList.add('show');
            });

            dropdownIcon.addEventListener('mouseout', () => {
                dropdownContent.classList.remove('show');
            });

            dropdownContent.addEventListener('mouseover', () => {
                dropdownContent.classList.add('show');
            });

            dropdownContent.addEventListener('mouseout', () => {
                dropdownContent.classList.remove('show');
            });

        });

         $(document).ready(function () {
            $('.carousel-image').on('click', function () {
                showFullscreen($(this).attr('src'));
            });

        });

    showFullscreen = (src) => {
        $('#fullscreenImage').attr('src', src);
        $('#fullscreenViewer').css('display', 'flex');
    }

    closeFullscreen = () => {
        $('#fullscreenViewer').css('display', 'none');
    }
           
    </script>
{% endblock %}