{% extends 'base.html.twig' %}


{% block title %}Ver Anuncio{% endblock %}

{% block body %}
{% if post.categoria.id != 7 and post.categoria.id != 8 %}
<div class='ver_anuncio'>
    <div class='vera_izq'>
        <div class='perfil_foto_an'><a href="{{ path('app_usuarios_ver', {'id': id_nick})}}"><img src='../../image/{{perfil.foto}}'></a></div>
        <div class='text-center text-primary h6'>{{nick}}</div>
    </div>
    <div class='vera_der'>
        <div class='h3 mt-3'>{{post.subject}}</div>
        <div class='texto_a'>{{post.texto}}</div>
        <div class='fecha_va'>{{ post.fecha|date('d') }} {{meses[post.fecha|date('F')] }} {{ post.fecha|date('Y') }}</div>
        <h2>Comentarios:</h2>
        <div class="comentarios" id="comentarios-section">

            {% include 'anuncios_categoria/comentarios.html.twig' %}
                     
                            
        </div>
        <div class='text_c'>
            {% if app.session.get('user_authenticated') %}
                    
                            <form class="ajax-form" action="{{ path('app_porcategoria_ver', {'id': post.id}) }}" method="post">
                                {{ form_row(form_comentarios.texto) }}
                                <button type="submit" class='btn_agregar'>Agregar</button>
                            </form>
        </div>
                    
        {% endif %}

    </div>
     
</div>

    {% else %}

        <p>
            <div class="ver_actividad">
                <div class='actver_izq'>
                    <div class='imagen_act'><img src='../../image/{{ imagenes[0].nombre }}'></div> 
                    <div class='recuadro_act'>
                        <div class='perfil_foto_an'><a href="{{ path('app_usuarios_ver', {'id': id_nick})}}"><img src='../../image/{{perfil.foto}}'></a></div>
                        <div class='creador_act text-primary h6'>{{nick}}</div>
                            {% if app.session.get('user_authenticated') %}
                                <div class='inscribir_btn'>
                                    <div class='btn_inscribir'><a href="{{ path('app_mostrar_mensaje', {'id': id_nick}) }}">Enviar Mensaje</a></div>
                                </div>
                            {% endif %}
                    </div>             
                </div>
                <div class='actver_der'>
                    <div class='h4'>{{post.subject}}</div>
                     <div class='h3 precio2'>{{post.precio}} €</div>
                    <div class='h2'>Info:</div>
                    <div class='descripcion_act'>{{post.texto}}</div>
                     {% if post.telefono is not empty %}
                            <div class='act_props'>
                                <span class='ico_act'><img src='../../image/ico_tlf.png'></span> 
                                <span class='txt_act'>{{post.telefono}}</span>
                            </div>
                    {% endif %}
                                     
                        <div class='act_props'>
                            <span class='ico_act'><img src='../../image/localidad.png'></span> 
                            <span class='txt_act'>{{post.municipio}}</span>
                        </div>
                       
                
                    <div class='act_props'>
                            <span class='ico_heart'><img src='../../image/corazonw_icon.png'></span> 
                            <span class='txt_act'>{{likescount}}</span>
                    </div>
                     <div>Publicado {{ post.fecha|date('d') }} {{meses[post.fecha|date('F')] }} {{ post.fecha|date('Y') }}</div>
                     {% if imagenes is not empty %}
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    
                        <div class="carousel-inner">
                            <div class='h2 mb-3'>Galería:</div>
                            {% for key, imagen in imagenes %}
                                <div class="carousel-item {% if key == 0 %}active{% endif %}">
                                    <div class='img_anuncio'><img src='../../image/{{ imagen.nombre }}' class='carousel-image'></div>
                                    <div class="carousel-caption d-none d-md-block">
                                        <p>{{ key + 1 }} / {{ imagenes|length }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true" style=" width: 38px; height: 38px; background-color: black; border-radius: 50%; padding: 5px;"></span>
                            
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true" style="width: 38px; height: 38px; background-color: black; border-radius: 50%; padding: 5px;"></span>
                            
                        </a>
                    </div>
                     
                {% endif %}
                </div>
            </div>
        </p>

     {% endif %}

                        <!-- Fullscreen image viewer -->
                    <div id="fullscreenViewer" class="fullscreen-viewer" onclick="closeFullscreen()">
                        <span class="close-btn" onclick="closeFullscreen()">&times;</span>
                        <img id="fullscreenImage" src="" alt="Imagen ampliada">
                    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {

        $('.carousel-image').on('click', function () {
            showFullscreen($(this).attr('src'));
        });


        $('.ajax-form').submit(function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (data) {
                    
                    $('#comentarios-section').html(data.comentarios);
                    $('.ajax-form textarea').val('');
                }
            });
        });
    });

    showFullscreen = (src) => {
        $('#fullscreenImage').attr('src', src);
        $('#fullscreenViewer').css('display', 'flex');
    }

    closeFullscreen = () => {
        $('#fullscreenViewer').css('display', 'none');
    }
</script>

{% endblock %}