
{% extends 'base.html.twig' %}


{% block title %}Actividades{% endblock %}

{% block body %}
    
  {% if app.session.get('user_authenticated') %}
  <div class='act_bar'>
    <a href="{{path('app_actividades_insertar')}}"><div class='insertar_btn_act'>Publicar Actividad</div></a>
  </div>
  {% endif %}

<div class='actividades'>
    {% if results %}

      {% for actividad in results %}
      <p>
      <div class='cuadro_act'>
      <div class='act_img'>
            <a href="/actividades/ver/{{ actividad.id }}"><img src='../../image/{{actividad.img}}'></a>
            {% if actividad.fecha < fechaActual %}
            <div class='actividad-convocada'>Actividad convocada</div>
            {% endif %}
          </div>
          
          <div class='actividad'>
            <div class='apact_izq'>
              <div class='h5'>{{actividad.nombre}}</div>
              <div>{{actividad.direccion}}</div>
              <div>{{actividad.municipio}}</div>             
            <div>{{ actividad.fecha|date('d') }} {{meses[actividad.fecha|date('F')] }}</div>
            </div>
            <div class='apact_der'>
              <div class='perfil_foto_an'><a href="/usuarios/ver/{{ actividad.id_usuario }}"><img src='../../image/{{actividad.foto_perfil}}'></a></div>
              <div class='text-center h6 text-dark'>{{actividad.nick}}</div>
            </div>
          </div>

      </div>
      </p>  
      {% endfor %}

    {% else %}
    <p>No se encontraron resultados.</p>
    {% endif %}

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

$(document).ready(function() {

      const loadingDiv = "<div id='loading' style='width: 1175px; height: 60vh; background: white; text-align: center;'><img src='../../image/elephant.webp' alt='Loading...'></div>";
      
        $('.contenido').before(loadingDiv);
        $('.contenido').css('display', 'none');

        setTimeout(function() {
            $('#loading').fadeOut('slow', function() {
                $('.contenido').fadeIn('slow');
            });
        }, 2000);

         setTimeout(function() {
            $('#loading').fadeOut('slow', function() {
                $('.contenido_principal').fadeIn('slow');
            });
        }, 2000);
             
});


</script>
{% endblock %}
