{# templates/mensajes/_mensaje_list.html.twig #}

<div id="lista-usuarios" data-id-usuario-seleccionado="">
    <div class="panel">
        <div class="panel-izquierdo" id="list_usuarios">
            <div class="usuario bg-secondary">
                <img src='../../image/{{usuario_recibo.perfil.foto}}'>{{ usuario_recibo.nick }}
            </div>
           
        </div>
        <div class="panel-derecho" id="panel-derecho">
            <div id="conversacion">
                {% for mensaje in mensajes_u %}
       
                    {% set claseMensaje = mensaje.nickenvia.id == usuario_actual.id ? 'mensaje-usuario-actual' : 'mensaje-otro-usuario' %}
                        <div class="{{ claseMensaje }}">
                            <div class='divmsg' style='display: flex; justify-content: left;'>
                                <div class='divmsg_iz'>
                                    {% if mensaje.nickenvia.id != usuario_actual.id %}
                                        <img src='../../image/{{ mensaje.nickenvia.perfil.foto }}' style='width: 50px; height: 50px; border-radius: 10px;' alt='{{ mensaje.nickenvia.nick }}'>
                                    {% else %} 
                                        <img src='../../image/{{ mensaje.nickenvia.perfil.foto }}' style='width: 50px; height: 50px; border-radius: 10px;' alt='{{ mensaje.nickenvia.nick }}'>
                                    {% endif %}
                                </div>
                                <div class='divmsg_der' style='margin-left: 10px;'>
                                    <div>{{ mensaje.texto }}</div>
                                </div>
                            </div>
                        </div>
                {% else %}
                        <div class='p-2'>Envía un mensaje para iniciar la conversación.</div>
                      
                {% endfor %}
            </div>
            
        </div>
    </div>
</div>




